Pods
Podfile.lock
SnapTagsView.xcodeproj/project.xcworkspace/xcuserdata
SnapTagsView.xcodeproj/xcuserdata/niklas.xcuserdatad/xcschemes
.DS_Store
SnapTagsView.xcworkspace/xcuserdata/niklas.xcuserdatad/UserInterfaceState.xcuserstate
Fonts/GothamRnd-Bold.otf
Fonts/GothamRnd-BoldIta.otf
Fonts/GothamRnd-Book.otf
Fonts/GothamRnd-BookIta.otf
Fonts/GothamRnd-Light.otf
Fonts/GothamRnd-LightIta.otf
Fonts/GothamRnd-MedIta.otf
Fonts/GothamRnd-Medium.otf
